<div class="card accordion-container">
  <div class="card-body accordion-title js-accordion-title">
    感情タグから探す
  </div>
  <div class="card-body accordion-content">
    <% tags.each do |tag| %>
      <%= link_to tag.name, books_path(tag_id: tag.id), class: "text-decoration-none text-dark rounded bg-light p-2" %>
      <% end %>
      <%= link_to "＃ALL", books_path, class: "text-decoration-none text-dark rounded bg-light p-2" %>
  </div>
</div>