<div class='container'>
  <div class='row'>
    <div class='col-12'>
      <h3>読書History</h3>
    </div>
  
      <div class="col-12 ">
        <!--タブ部分-->
        <ul class="tab-list list-group-horizontal">
          <li class="tab tab-active list-group-item col-3">
            読書目録
          </li>
          <li class="tab list-group-item col-3">
            読みたい
          </li>
          <li class="tab list-group-item col-3">
            メモ
          </li>
          </ul>
      </div>
      
      <!--タブで選択された要素部分-->
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render 'public/posts/book_list', posts: @posts %>
        </div>
        <div class="tabbox">
          <%= render 'public/posts/favorite_list', favorite_list: @favorite_list %>
        </div>
        <div class="tabbox">
          <%= render 'public/posts/memo_list', posts: @memo_list %>
        </div>
      </div>

  </div>
</div>