<div class="container main-visual ">
  <div class="row text-center p-5">
    <div class="col-12 text-center mt-5 ">
      <div class="filter p-5">
        <h1 class = "text-light mb-3"><strong>Attention</strong></h1>
          <div class="main-visual-text text-light">
            当サイトは「ハッピーエンド」専門のレビューサイトです。</br>
            <h4>"ハッピーエンド"</h4>
            という話の流れが事前にわかってしまうことに気を付けてご閲覧下さい。</div>
             <!--<p class="field text-light"><= check_box_tag :attention %>-->
             <!--<= label_tag :attention, "不適切な投稿があった場合、投稿を非公開とさせていただく場合があります", required: true %></p></br>-->
             <!--<p class="field text-light"><= check_box_tag :attention %>-->
             <!--<= label_tag :attention, "ハッピーエンドという話の流れが事前にわかってしまうことに気を付けてご閲覧下さい", required: true %></p>-->
     </div>
    </div>

      <div class="row ">
        <div class="col-6">
        <%=link_to  "新規登録", new_customer_registration_path, class: "example btn btn-lg btn-border", checked:false %>
      </div>
      
      <div class="col-6">
        <%=link_to  "ログイン", new_customer_session_path, class: "example btn btn-lg btn-border", method: :get, checked:false %>
      </div>
      </div>

      
      <div class="col-12">
        <%=link_to  "ゲストログイン（閲覧用）", customers_guest_sign_in_path, class: "example btn btn-lg btn-border", method: :post %>
      </div>


  </div>
</div>