<div class="container main-visual ">
  <div class="row text-center p-5">
    <div class="col-12 text-center mt-5 ">
        <h1 class = "text-light">Attention</h1>
          <p class="main-visual-text text-light">当サイトは「ハッピーエンド」専門のレビューサイトです。</br>
            ハッピーエンドという話の流れが事前にわかってしまうことに気を付けてご閲覧下さい</p></br>
    </div>

      <div class="col-12 text-center my-5">
        <%=link_to  "サイトへ行く", top_path, class: "btn btn-lg btn-primary", checked:false %>
      </div>

  </div>
</div>