<div class="container m-5">
  <div class="row">
    <div class="col-12 m-5">
      <h2>BOOKMELOとは</h2>
    </div>

      
    <div class="col-6 m-3">
      <P>BOOKMELO（ブックミロ）は、ハッピーエンドの物語を収集することを目的とした書籍レビューサイトです。
        作品のレビューをチェック・投稿できる機能をベースに「作品の鑑賞録」や「観たい作品のメモ・備忘録」
        「感情タグ登録を利用した感情分析ツール」としてご利用いただけます。
      </P>
    </div>
  </div>
</div>