<div class="container m-5">
  <div class='row'>
    <div class="col-12 m-5">
      <h2>レビューを記録する</h2>
      </div>
      
      <div class="col-6 m-3">
          記録するハッピーエンドを検索したら,「記録する」ボタンをおして記録していきましょう。
          ひとえに”ハッピーエンド”といっても、人によって感じ方は様々です。
          閲覧される他ユーザー様に向けてどういった”ハッピーエンド”だったのかわかるよう
          「感情タグ」を必ず付与していただくようお願いいたします。</br>
          記録した作品はUser Homeの読了一覧で閲覧が可能です。
    </div>
  </div>
</div>