<div class="container text-center py-5">
  <div class='row'>
    <div class="col my-3">
      <h1>BOOKMELOの楽しみ方</h1>
      <ul class="list-unstyled text-brak">
        <li>
          <%= link_to "BOOKMELO とは", top_description_path %>
        </li>
        <li>
          <%= link_to "レビューを記録する", top_review_path %>
        </li>

      </ul>
      
    </div>
  </div>
</div>