<div class="container text-center py-5">
  <div class='row'>
    <div class="col my-3">
      <h1>BOOKMELOの楽しみ方</h1>
      <ul class="list-unstyled">
        <li class="top-list">
          <%= link_to "BOOKMELO とは", top_description_path, class: "text-dark" %>
        </li>
        <li class="top-list">
          <%= link_to "レビューを記録について", top_review_path, class: "text-dark" %>
        </li>

      </ul>
      
    </div>
  </div>
</div>