@use '~bootstrap/scss/bootstrap';

// .sign_up {
// display: contents;
// }

h1, h2, h3 {
font-family: 'Tilt Prism', cursive;
}


body {
background-color:rgba(186,217,232,0.2);
}

.flash {
 padding-left:50px;
 background-color:rgba(163,190,204,0.3);
 font-family: 'Zen Kurenaido', sans-serif;
 font-family: 'Zen Old Mincho', serif;

}

.main-container {
  width: 100%;
  padding-top:50px;
  display: table;
  background-image: url("../images/back_image.png");
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size: cover;
}

.main-visual {
  width: 100%;
  text-align: left;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
}

.post-new {
  height:100vh;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.name_image {
 display: inline-block;
 text-align: left;
 border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
 background-position: center center; /* 横長画像の中央を基準に表示 */
 border: solid 1px #777777; /* 色：グレー */
}

.name {
  font-size: 40px;
}

.top-list {
  padding: 20px 0;
}

.filter {
 position: static;
 background-color: rgba(0,0,0,0.5);
}

.example:before {
 transition: 0.3s;
}
.example:hover {
 filter: brightness(60%) blur(3px);
}

.withdraw-main {
  text-align: center;
}

.favorite-btn {
 font-family: 'Libre Barcode 39', cursive;
}

.withdraw {
  text-align: center;
  display: inline-block;
  text-align: left;
}

// タブ切り替え
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box-show {
  display: block;
}
// hover時のアクション
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}


/*customer edit*/

 .btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

 .btn-border:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

/*投稿ボタン*/

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 背景用*/
// body {
//   padding: 30px;
// }

.btn-customer,
.btn-customer,
button.btn {
  font-size: 1.0rem;
  font-weight: 70;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

.btn-border-shadow--color2 {
  border-radius: 100vh;
}

.btn-border-shadow--color2:before {
  border-radius: 100vh;
  -webkit-box-shadow: 3px 3px 0 #78e5e5;
  box-shadow: 3px 3px 0 #78e5e5;
}

// お気に入りボタン

.btn-favorite,
a.btn-favorite  {
  font-size: 1.0rem;
  font-weight: 200;
  line-height: 1.0;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #66cccc;
  border-radius: 0.5rem;
}

a.btn-tag {
  padding: 1.0rem 1rem 1.0rem 30px;
}

a.btn-tag:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  content: "";
  border-radius: 0.5rem 0 0 0.5rem;
}

a.btn-tag--ver {
  padding: calc(50px + 1rem) 2rem 1rem 2rem;
  color: #fff;
  border-bottom: 5px solid #99ffff;
  background: #19b5d1;
}

a.btn-tag--ver:before {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 54px;
  border-radius: 0.5rem 0.5rem 0 0;
  background: #fff;
}

a.btn-tag--ver i {
  font-size: 120%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  letter-spacing: 0;
  color: #19b5d1;
}

a.btn-tag--ver:hover {
  margin-top: 3px;
  color: #fff;
  border-bottom: 2px solid #99ffff;
  background: #19b5d1;
}