<div class="container mt-5 pb-5">
  <div class="form-group text-center">
    <h3>通報一覧</h3>

<table class="table">
  <thead>
    <tr>
      <th>通報ID</th>
      <th>会員名</th>
      <th>報告書籍</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td>
          <%= report.customer_id %>
        </td>
        <td>
          <%= report.customer.name %>
        </td>
        <td>
          <%= link_to book_path(report.book) do %>
            <%= report.book.title %>
          <% end %>
        </td>
        <td>
          <% report.status_i18n %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>