<footer>
  <div class='container-12 shadow'>
  	<div class='row mx-auto'>
    	<div class='col-6 text-center'>
    		<p>&copy; Infratop.inc by mayu ninomiya</p>
    	</div>
    	<div class="col-6 text-center">
    		<a href="https://developers.rakuten.com/" target="_blank" class: 'text-dark'>&copy; Supported by Rakuten Developers</a>
    	</div>
    	</div>
    </div>
  </div>
</footer>
